{% load i18n %}{% autoescape off %}
           Hello {{ user.get_full_name|default:user.email }}!
        

                We received a request to reset the password for your Talib Space account. 
                If you made this request, click the button below to set a new password:
           
            
         
                 {{ protocol }}://{{ domain }}{% url 'pages:password_reset_confirm' uidb64=uid token=token %}
                    this is the link to reset your Password
               
            
            
               ⏰ Important: This link will expire in 24 hours for security reasons.
            
{% endautoescape %}